{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@estilosDeEmpresaTypes": "./src/styles/estilosDeEmpresaTypes",
          "@estilosDeEmpresa": "./src/styles",
          "@utils": "./src/utils",
          "@models": "./src/models",
          "@base": "./src/components/compartido/base",
          "@compartido": "./src/components/compartido"
        }
      }
    ]
  ]
}
