{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@estilosDeEmpresaTypes": "./src/styles/estilosDeEmpresaTypes"
        }
      }
    ]
  ]
}
